/* nerd font */
@import "https://www.nerdfonts.com/assets/css/webfont.css";


/* themes */
:root { /* epic video https://www.youtube.com/watch?v=_gKEUYarehE  */
  --text-color: #000;
  --primary-color: #d2f5ff;
  --primary-secondary: #c7c6ff;
  --accent-color: #ff6200;
  --accent-secondary: #ff8d01;
  --banner: rgba(176, 184, 236, 0.5);
}
.darkmode {
  --text-color: #ffffff;
  --primary-color: #182334;
  --primary-secondary: #24124e;
  --accent-color: #ff6200;
  --accent-secondary: #ff2701;
  --banner: rgba(21, 20, 26, 0.5);
}

/* main */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, NerdFontsSymbols Nerd Font, Arial, sans-serif;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(30deg, var(--primary-color), var(--primary-secondary));
  color: var(--text-color);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
hr {
  border-top: 3px solid var(--text-color);
  border-radius: 100px;
  width: 80px;
}

/* button/link styling */
button {
  background: none;
  color: var(--text-color);
  cursor: pointer;
  border: none;
}
.buttonreg {
  background: linear-gradient(30deg, var(--accent-color), var(--accent-secondary));
  color: var(--text-color);
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.buttonreg:hover {
  border-radius: 100px;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

/* header */
header {
  display: flex;
  justify-content: space-around;
  background-color: var(--banner);
  padding: 15px;
  border-bottom: 3px solid var(--accent-color);
}
.headleft {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav {
  display: flex;
  background-color: inherit;
  gap: 5px;
}
.special {
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.headright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
#themeswitch{
  font-family: Inter, NerdFontsSymbols Nerd Font, Arial, sans-serif;
  font-size: 18px;
  width: 50px;
}
#themeswitch p:last-child{
  display:none;
}
.darkmode #themeswitch p:first-child{
  display:none;
}
.darkmode #themeswitch p:last-child{
  display:block;
}

/* page stuff */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  z-index: 1;
}

/* home page */
.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
}
.home-top i {
  font-size: 22px;
}
.home-top h1 {
  font-size: 50px;
}

.home-proj {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
  gap: 20px;
}
.home-proj h2 {
  padding: 10px; 
  border-radius: 18px;
  font-size: 30px;
}
.home-proj .proj {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--banner);
  padding: 30px;
  border-radius: 18px;
  max-width: 1280px;
  gap: 20px;
}
.home-proj .proj img {
  width: 100%;
  border-radius: 10px;
}
.home-proj .projleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}
.home-proj .projright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.home-proj .projright .buttonreg {
  margin-top: 20px;
}
.home-proj .projright b {
  margin-right: 10px;
}
.home-proj .projright ul {
  text-align: left;
  list-style-type: circle;
  padding: 20px 0px;
}
.home-proj .projright li {
  padding: 0px;
}

.home-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px;
}
.home-socials .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--banner);
  width: 30px;
  height: 30px;
  padding: 30px;
  margin: 12px;
  border-radius: 18px;
  gap: 20px;
  font-size: 30px;
}
.sgroup1, .sgroup2, .sgroup3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 404 page */
.fourohfour {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
}
.fourohfour-dirs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

/* dir page */
.dir-reg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--banner);
  padding: 18px 30px;
  border-radius: 18px;
}
.dir-reg hr {
  margin: 10px;
  opacity: 0.2;
}
.dir-reg a:hover {
  text-decoration: underline;
}
.dots-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.dots-bottom a {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.dots-bottom b {
  margin-right: 12px;
  font-size: 18px; 
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  background-color: var(--banner);
  border-top: 3px solid var(--accent-color);
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.socials a {
  font-size: 28px;
  margin: 8px;
}

/* media queries */
@media screen and (max-width: 820px) {
  header {
    justify-content: space-between !important;
  }
  nav  {
    flex-direction: column !important;
  }
  .page-container {
    padding: 18px !important;
  }
  .home-proj {
    padding: 0px !important;
  }
  .home-socials {
    flex-direction: column !important;
    padding: 40px 0px !important;
  }
}

@media screen and (max-width: 1280px) {
  .home-proj .proj {
    flex-direction: column;
    max-width: 600px;
  }
  .home-proj .projleft {
    width: 100%;
  }
  .home-proj .projright {
    width: 100%;
  }
}