/* nerd font */
@import "https://www.nerdfonts.com/assets/css/webfont.css";


/* themes */
:root { /* epic video https://www.youtube.com/watch?v=_gKEUYarehE  */
  --text-color: #000;
  --text-secondary: #333;
  --primary-color: #f4eae3;
  --accent-color: #ff6200;
  --accent-diminished: rgba(255, 98, 0, 0.2);
  --accent-secondary: #ff8d01;
  --banner: rgba(235, 235, 235, 0.5);
  --btn: #fff2ec;
}
.darkmode {
  --text-color: #fff;
  --text-secondary: #ccc;
  --primary-color: #150b05;
  --accent-color: #ff6200;
  --accent-diminished: rgba(255, 98, 0, 0.2);
  --accent-secondary: #ff2701;
  --banner: rgba(26, 21, 20, 0.5);
  --fullbanner: rgba(26, 21, 20);
  --btn: #291c1a;
}
.terminal {
  --tcol1: #D1A1C2;
  --tcol2: #D2A3C3;
  --tcol3: #3B5EAE;
  --tcol4: #19509C;
  --tcol5: #C23342;
  --tcol6: #1F427C;
  --tcol7: #582256;
  --tcol8: #09326E;
  --term-font: JetBrainsMono Nerd Font, monospace;
  font-family: var(--term-font);
}

/* main elements */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, NerdFontsSymbols Nerd Font, Arial, sans-serif;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
hr {
  border-top: 3px solid var(--text-color);
  border-radius: 100px;
  width: 80px;
}
/* https://stackoverflow.com/questions/54616139/how-can-i-animate-underline-from-left-to-right, im too stupid to understand this */
.un {
  display: inline-block;
  background-image: linear-gradient(var(--text-color) 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}
.un:hover {
  background-position: 100% 100%;
  background-size: 100% 2px;
}
.special {
  color: transparent;
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  text-shadow: 0 -1px 30px var(--accent-diminished);
  -webkit-background-clip: text;
  background-clip: text;
}

/* button/link styling */
button {
  background: none;
  color: var(--text-color);
  cursor: pointer;
  border: none;
}
.buttonreg {
  color: var(--text-color);
  background: linear-gradient(
    30deg,
    var(--btn),
    var(--btn),
    var(--accent-color),
    var(--accent-secondary)
  );
  background-size: 300% 300%;
  background-position: bottom left;
  border: 1px solid var(--accent-color);
  box-shadow: 0 -1px 12px var(--accent-diminished);
  padding: 12px 20px;
  border-radius: 100px;
  font-size: 20px;
  transition: background-position 0.3s ease, color 0.2s ease;
}
.buttonreg:hover {
  background-position: top right;
  box-shadow: 0 -1px 10px var(--accent-color);
}
a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

/* fade animation */
.fade {
  opacity: 0;
  transition: opacity 200ms ease, transform 200ms ease;
  pointer-events: none;
}
.fade.show {
  opacity: 1;
  pointer-events: auto;
}
.fade.flex { /* for flex items */
  display: flex;
}
.fade.block { /* for block items */
  display: block;
}

/* header */
header {
  display: flex;
  align-items: center;  
  padding: 15px;
}
.head-centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 600px;
  gap: 20px;
}
.head-pfp img {
  display: flex;
  width: 60px;
  border-radius: 100px;
  cursor: pointer;
}
.head-main {
  display: flex;
  align-items: center;
  background-color: var(--banner);
  padding: 20px 30px;
  width: 100%;
  border: 1px solid var(--accent-color);
  box-shadow: 0 -1px 50px var(--accent-diminished);
  border-radius: 100px;
}
.head-main .head-text {
  position: relative;
  display: grid;
  margin-right: auto;
  font-size: 28px;
}
.head-text > .head1,
.head-text > .head2 {
  grid-area: 1 / 1;
  display: flex;
  align-items: center;
}
.head-main .head-text .head2 {
  font-size: 18px;
  gap: 12px;
}
.head-main .head-navbtn {
  display: flex;
  margin-left: auto;
}
.head-right {
  display: flex;
  position: absolute;
  right: 0;
  padding: 30px;
  gap: 20px;
  font-size: 18px;
}
#themeswitch, #navbtn {
  font-family: NerdFontsSymbols Nerd Font;
  font-size: 18px;
  padding: 2px;
}
#themeswitch p:last-child{
  display: none;
}
.darkmode #themeswitch p:first-child{
  display: none;
}
.darkmode #themeswitch p:last-child{
  display: block;
}
#navbtn {
  position: relative;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
}
#navbtn p {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

/* page stuff */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  z-index: 1;
}
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-top: 60px;
  overflow: hidden;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  background-color: var(--banner);
  border-top: 1px solid var(--accent-color);
  box-shadow: 0 -1px 50px var(--accent-diminished);
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 5px;
}
footer .footer-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--text-secondary);
}
.socials {
  margin-bottom: 15px;
}
.socials a {
  font-size: 28px;
  margin: 8px;
}

/* full navigation */
#fullnav {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  overflow: hidden;
  z-index: 6969;
}
#fullnav .fullnav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 20px;
}
#fullnav .fullnav-content a {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
#fullnav #fullnavbtn {
  color: var(--text-color);
  text-decoration: none;
  margin-top: 100px;
}

/* home page */
.home-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 12px;
}
.home-top p {
  font-size: 40px;
  font-weight: 300;
}
.home-top b {
  font-size: 50px;
  font-weight: 900;
}
.terminal {
  position: relative;
  width: 100%;
  max-width: 1080px;
  height: 620px;
  background-color: var(--banner);
  padding: 20px 30px;
  border: 1px solid var(--accent-color);
  box-shadow: 0 -1px 20px var(--accent-diminished);
  border-radius: 18px;
  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
}
.terminal .term-top {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  padding: 15px;
  padding-top: 22px;
  z-index: 1;
}
.terminal .term-topr {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  padding: 15px;
  padding-top: 22px;
}
.terminal .term-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  padding: 15px;
  padding-bottom: 22px;
}
.terminal .term-bottomr {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  padding: 15px;
  padding-bottom: 22px;
}
.terminal .term-logo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin: 60px 10px;
  width: 250px;
  height: 250px;
}
.terminal .term-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px 0;
  padding-left: 350px;
}
.term-cols {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
  padding: 20px;
  padding-left: 0px;
}
.term-cols span {
  display: block;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
}
.tcol1 { background-color: var(--tcol1); }
.tcol2 { background-color: var(--tcol2); }
.tcol3 { background-color: var(--tcol3); }
.tcol4 { background-color: var(--tcol4); }
.tcol5 { background-color: var(--tcol5); }
.tcol6 { background-color: var(--tcol6); }
.tcol7 { background-color: var(--tcol7); }
.tcol8 { background-color: var(--tcol8); }

/* 404 page */
.fourohfour {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
}
.fourohfour-dirs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

/* media queries */
@media screen and (max-width: 820px) {
  .page-container {
    padding: 18px !important;
  }
  .head-right {
    position: relative;
    padding: 10px;
    padding-left: 20px;
  }
  .terminal {
    padding: 16px !important;
    height: auto !important;
  }
  .term-logo {
    display: none !important;
  }
  .term-info {
    display: flex;
    position: relative !important;
    padding-left: 0px !important;
  }
}
@media  screen and (max-width: 600px) {
  .head-centered {
    gap: 0px !important;
  }
  .head-right {
    padding-left: 30px; 
  }
  .head-main .head2 {
    display: none;
  }
  .head-pfp img {
    display: none;
  }
  .fourohfour-dirs {
    flex-direction: column;
  }
  .term-info {
    font-size: 13px !important;
  }
}