/* nerd font */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* themes */
:root { /* epic video https://www.youtube.com/watch?v=_gKEUYarehE  */
  --base-color: rgb(255, 251, 247);
  --base-secondary: #f5f1f0;
  --text-color: #000;
  --text-secondary: #252525;
  --primary-color: #bbf0ff;
  --primary-secondary: #b6b5f4;
  --accent-color: #ff6200;
  --accent-secondary: #ff2701;
  --banner: rgba(235, 235, 235, 0.5);
}
.darkmode {
  --base-color: #101010;
  --base-secondary: #090b14;
  --text-color: #ffffff;
  --text-secondary: #e0e0e0;
  --primary-color: #294851;
  --primary-secondary: #2e3084;
  --accent-color: #ff6200;
  --accent-secondary: #ff2701;
  --banner: rgba(8, 8, 8, 0.5);
}

/* main */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, NerdFontsSymbols Nerd Font, Arial, sans-serif;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(30deg, var(--primary-color), var(--primary-secondary));
  color: var(--text-color);
  overflow-x: hidden;
}

/* general styling */
button {
  background: none;
  color: var(--text-color);
  cursor: pointer;
  border: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}


/* header */
header {
  display: flex;
  justify-content: space-around;
  background-color: var(--banner);
  padding: 10px;
}
.headleft {
  display: flex;
  align-items: center;
  gap: 16px;
}
.headleft img {
  height: 50px;
  border-radius: 100%;
}
nav {
  display: flex;
  background-color: inherit;
  gap: 5px;
}
.headright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
#themeswitch{
  font-family: Inter, NerdFontsSymbols Nerd Font, Arial, sans-serif;
  font-size: 18px;
  width: 50px;
}
#themeswitch p:last-child{
  display:none;
}
.darkmode #themeswitch p:first-child{
  display:none;
}
.darkmode #themeswitch p:last-child{
  display:block;
}

/* temp */
.something {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 1;
}
.something-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.something-img img {
  margin: 20px;
  border-radius: 100%;
  border: 5px solid var(--text-color);
}
.something-img #bg {
  position: absolute;
  pointer-events: none;
  border: none;
  z-index: -1;
}
.special {
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--banner);
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  gap: 20px;
  z-index: 1;
}
.socials a {
  font-size: 28px;
  margin: 8px;
}

/* media queries */
@media screen and (max-width: 800px) {
  header {
    justify-content: space-between !important;
  }
  nav  {
    flex-direction: column !important;
  }
}
@media screen and (max-height: 500px) {
  .something-img img {
    display: none !important;
  }
}