/* nerd font */
@import "https://www.nerdfonts.com/assets/css/webfont.css";


/* themes */
:root { /* epic video https://www.youtube.com/watch?v=_gKEUYarehE  */
  --text-color: #000;
  --text-secondary: #333;
  --primary-color: #f4eae3;
  --accent-color: #ff6200;
  --accent-secondary: #ff8d01;
  --banner: rgba(235, 235, 235, 0.5);
  --btn: #fff2ec;
}
.darkmode {
  --text-color: #fff;
  --text-secondary: #ccc;
  --primary-color: #150b05;
  --accent-color: #ff6200;
  --accent-secondary: #ff2701;
  --banner: rgba(26, 21, 20, 0.5);
  --fullbanner: rgba(26, 21, 20);
  --btn: #291c1a;
}

/* main */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, NerdFontsSymbols Nerd Font, Arial, sans-serif;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
hr {
  border-top: 3px solid var(--text-color);
  border-radius: 100px;
  width: 80px;
}
.vr {
  border-left: 1px solid var(--text-color);
  margin: 2px 10px;
}

/* button/link styling */
button {
  background: none;
  color: var(--text-color);
  cursor: pointer;
  border: none;
}
.buttonreg {
  color: var(--text-color);
  background: linear-gradient(
    30deg,
    var(--btn),
    var(--btn),
    var(--accent-color),
    var(--accent-secondary)
  );
  background-size: 300% 300%;
  background-position: bottom left;
  border: 1px solid var(--accent-color);
  padding: 12px 20px;
  border-radius: 100px;
  font-size: 20px;
  transition: background-position 0.3s ease, color 0.2s ease;
}
.buttonreg:hover {
  background-position: top right;
}
a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
.special {
  color: transparent;
  background: linear-gradient(to right, var(--accent-color), var(--accent-secondary));
  -webkit-background-clip: text;
  background-clip: text;
}

/* header */
header {
  display: flex;  
  padding: 15px;
}
.head-centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 600px;
  gap: 20px;
}
.head-pfp img {
  display: flex;
  width: 60px;
  border-radius: 100px;
  cursor: pointer;
}
.head-main {
  display: flex;
  align-items: center;
  background-color: var(--banner);
  padding: 20px 30px;
  width: 100%;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
}
.head-main .head-text {
  display: flex;
  margin-right: auto;
  font-size: 28px;
}
.head-main .head-text .head2 {
  font-size: 18px;
  padding: 6px 0;
}
.head-main .head-text .head2 hr {
  opacity: 1;
  width: 1px;
  color: var(--text-color) 
}
.head-main .head-navbtn {
  display: flex;
  margin-left: auto;
}
.head-right {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-size: 18px;
}
#themeswitch, #navbtn {
  font-family: NerdFontsSymbols Nerd Font;
  font-size: 18px;
}
#themeswitch p:last-child{
  display: none;
}
.darkmode #themeswitch p:first-child{
  display: none;
}
.darkmode #themeswitch p:last-child{
  display: block;
}


/* page stuff */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  z-index: 1;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  background-color: var(--banner);
  border-top: 1px solid var(--accent-color);
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 5px;
}
footer .footer-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--text-secondary);
}
.socials {
  margin-bottom: 15px;
}
.socials a {
  font-size: 28px;
  margin: 8px;
}

/* home page */
.home-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 12px;
}
.home-top p {
  font-size: 40px;
  font-weight: 300;
}
.home-top b {
  font-size: 50px;
  font-weight: 900;
}

/* 404 page */
.fourohfour {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
}
.fourohfour-dirs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

/* media queries */
@media screen and (max-width: 820px) {
  .page-container {
    padding: 18px !important;
  }
}
@media  screen and (max-width: 600px) {
  .head-centered {
    gap: 0px !important;
  }
  .head-right {
    padding-left: 30px; 
  }
  .head-pfp img {
    display: none;
  }
  .head-main .head-text .head2 {
    flex-direction: column;
  }
  .fourohfour-dirs {
    flex-direction: column;
  }
}